* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #2e5e4e;
  background-color: #dbd3d8;
  font-size: 24px;
}

header {
  margin: 10px;
  text-align: center;
  border-bottom: solid 5px #2e5e4e;
}

h1 {
  margin: 2%;
  text-align: center;
}

/* Container for the quiz */
#quiz-container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

#start {
  margin-top: 15px;
  text-align: center;
  padding: 5px 5px;
  color: #2e5e4e;
  border: solid 5px #2e5e4e;
  transition: border-width 0.6s linear;
  font-size: 48px;
}

.input-form {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#rules {
  margin-top: 50px;
  margin-left: 100px;
  width: 75%;
}

/* Style for the questions */
.question {
  margin: 20px 0px;
  color: #2e5e4e;
}

/* Style for the options */
.options {
  background-color: #93a7aa;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for the selected option */
button:hover {
  background-color: #c3b59c;
  color: white;
}

.scoreBox {
  display: flex;
  justify-content: center;
}

#initials {
  margin: 10px;
  width: 250px;
  height: 25px;
  padding: 15px 10px;
  color: #2e5e4e;
  border: solid 5px #2e5e4e;
  transition: border-width 0.6s linear;
  font-size: 24px;
  text-align: center;
}

#timer,
#score {
  text-align: center;
}

#submitBtn, #goBackBtn, #clearBtn {
  display: flex;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
  color: #2e5e4e;
  border: solid 5px #2e5e4e;
  transition: border-width 0.6s linear;
  font-size: 24px;
}

ol {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
  border: dashed 5px #2e5e4e;
  transition: border-width 0.6s linear;
  height: fit-content;
  width: fit-content;
}

li {
   padding-left: 0px;
  margin-left: 20px;
}
